@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
	color: #4C5245;
	background-color: #fff;
}

h1 {
	font-weight: 300;
	font-size: 2em;
	color: $veryDarkColor;
}

h2 {
	color: $veryDarkColor;
	font-weight: 400;
}

h3 {
	font-size: 1.2em;
}

.clearfix {
	clear:both;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	color: darken($veryDarkColor, 10%);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

main.content {
	margin-bottom: 50px;
	background-color: #fff;

	& > section {
		padding: 0 15px;
		padding-top: 50px;
		max-width: $maxWidth;
		margin: 0 auto;
		& > section {
			padding-bottom: 50px;
			width: 80%;
		}
		& > section.full-content {
			padding-bottom: 50px;
			width: 100%;
		}
		& > nav {
			width: 15%;
			float: right;
			& > ul {
				position: fixed;
				top: 70px;
				list-style-type: none;
				padding: 0;
				& > h6 {
					margin: 0;
					padding-bottom: 15px;
					text-transform: uppercase;
					color: $veryDarkColor;
					font-weight: 300;
					font-size: 1.2em;
				}
			}
		}
	}
}

.block {
	padding: 20px 0;
}

.button {
	display: inline-block;
	padding:20px 30px;
	margin:10px 0;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	background-color: $veryDarkColor;

	@include transition(all 0.2s ease);

	&:hover {
		background-color: $veryDarkColor;
		color: #fff;
		text-decoration: none;
	}
}
.demo-link {
	float: right;
}

footer {
	text-align: center;
	margin: 15px 30px;
	color: $fontSecondary;
}
