@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

body {
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
	color: #4C5245;
	background-color: $background;
}

h1 {
	font-weight: 300;
	font-size: 2em;
	color: $veryDarkColor;
}

h2 {
	color: $veryDarkColor;
	font-weight: 400;
}

h3 {
	font-size: 1.2em;
}

.clearfix {
	clear:both;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	color: darken($veryDarkColor, 10%);

	&:hover {
		text-decoration: underline;
	}
}

main {
	margin-bottom: 75px;
	background-color: #fff;

	@include box-shadow(5px 5px #E6E6E6, 4px 4px #E6E6E6, 3px 3px #E6E6E6, 2px 2px #E6E6E6, 1px 1px #E6E6E6);

	& > section > section {
		padding: 50px;
		max-width: $maxWidth;
		margin: 0 auto;
	}
}

.block {
	padding: 20px 0;
}

.button {
	display: inline-block;
	padding:20px 30px;
	margin:10px 0;
	width: 153px;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	background-color: $veryDarkColor;

	@include transition(all 0.2s ease);

	&:hover {
		background-color: $veryDarkColor;
		color: #fff;
		text-decoration: none;
	}
}

#footer {
	height: 50px;
	width: $width;
	padding: 0 50px;
	margin: 0 auto;
}
