@import "compass/css3/opacity";
@import "compass/css3/box-shadow";

body {
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.4;
	color: #4C5245;
	background-color: $background;
}

h1 {
	font-weight: 300;
	font-size: 2em;
	text-transform: uppercase;
	color: $color;
}

h2 {
	color: $color;
	font-weight: 400;
}

h3 {
	font-size: 1.2em;
}

.clearfix {
	clear:both;
}

.left {
	float: left;
}

.right {
	float: right;
}

a {
	color: darken($color, 10%);

	&:hover {
		text-decoration: underline;
	}
}

#content {
	width: $width;
	padding: 50px;
	padding-top: 85px;
	margin: 0 auto;
	margin-bottom: 75px;
	background-color: #fff;

	@include box-shadow(5px 5px #E6E6E6, 4px 4px #E6E6E6, 3px 3px #E6E6E6, 2px 2px #E6E6E6, 1px 1px #E6E6E6);

	.button {
		display: inline-block;
		padding:20px 30px;
		margin:10px 0;
		width: 153px;
		text-transform: uppercase;
		font-weight: 700;
		color: $color;
		background-color: rgba(96,191,101,0.2);

		@include transition(all 0.2s ease);

		&:hover {
			background-color: $color;
			color: #fff;
			text-decoration: none;
		}
	}
}

.block {
	padding: 20px 0;
}

#footer {
	height: 50px;
	width: $width;
	padding: 0 50px;
	margin: 0 auto;
}
