#welcome {
    text-align: center;
    background-color: $veryLightColor;

    h1 {

    }

    p {
        text-align: left;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#features {
    section {
        img.left {
            margin-right: 50px;
        }
        img.right {
            margin-left: 50px;
        }
    }

    section:after {
        content: "";
        display: table;
        clear: both;
    }
}

table.browser-compat {
    width: 100%;
}

table.browser-compat td {
    text-align: center;
    width: 160px;
    vertical-align: middle;
}

table.browser-compat img {
    border: none;
    background: none;
    box-shadow: none;
}