#welcome {
    text-align: center;
    background-color: $veryLightColor;

    h1 {

    }

    p {
        text-align: left;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#features {
    section {
        img.left {
            margin-right: 50px;
        }
        img.right {
            margin-left: 50px;
        }
    }

    section:after {
        content: "";
        display: table;
        clear: both;
    }
}

table.browser-compat {
    width: 100%;
}

table.browser-compat td {
    text-align: center;
    width: 160px;
    vertical-align: middle;
}

table.browser-compat img {
    border: none;
    background: none;
    box-shadow: none;
}

.browser-logo{
    width:64px;
    height:64px;
    margin-bottom:.5em;
    background:url(../images/browser-logos.jpg) no-repeat 0 0;
    background-size:auto 100%
}

.browser-logo--chrome{
    background-position:0 0
}

.browser-logo--opera{
   background-position:-64px 0
}

.browser-logo--firefox{
   background-position:-128px 0
}

.browser-logo--safari{
   background-position:-192px 0
}

.browser-logo--ie{
   background-position:-256px 0
}
