.markdown {

  ul, ol {
    padding-left: 30px;
  }

  img {
    max-width:100%;
  }

  h1, h2, h3,
  h4, h5, h6 {

    line-height: 1.3;
  }

  blockquote {
    border-left: 6px solid gainsboro;
    margin-left: 0;
    padding-left: 1em;
  }
}

.highlight {
  @include border-radius(3px);

  pre {
    padding: 15px;
    margin-bottom: 0;
  }
}
