.post {
  padding: 2em 2.9em;
  margin: 0 0  33px;
  @include shadow(hsl(0, 0%, 100%));
}

.archive-post {
  font-size: 12px;
  margin: 0 0 13px;
  padding: 14px 25px;
  @include shadow(hsl(0, 0%, 100%));
}

.post-title {
  margin: 0;
  font-size: 2.1em;
}

.post-date {
  margin: .2em 0;
  font-size: 1.4em;
  color: $lightTextColor;
}

.post-body {
  margin-bottom: 1.2em;
  line-height: 1.65em;
  font-size: 1em;

  a {
    color: $blueGrey;
  }

}

.social {
  padding: .55em 0 1.4em;
}

.comments {
  margin-top: 25px;
  font-weight: bold;
  font-size: 1.2em;

  a {
    color: $lightTextColor;

    &:hover {
      text-decoration: none;
      color: $linkColor;
    }
  }

  .icon-bubbles {
    padding: 3px 15px 5px 0;
    float: left;
  }
}
