@media screen and (max-width: 1080px) {
  header nav {
    text-align: right;

    ul {
      li {
        font-size: .8em;

        a {
          padding: .2em;
          margin: .2em;
        }
      }
    }
  }
}

@media screen and (max-width: 895px) {

  header {

    nav {
      #hamburger {
        display: inline-block;
        margin-bottom: 14px;
        margin-right: 15px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    #nav {
      padding: 0;
      display: none;

      li {
        list-style-type: none;
        text-align: left;
        display: block;

        &.nav-separator {
          display: none;
        }

        a {
          display: block;
          padding-left: 20px;
        }
      }
    }

    #nav.visible {
      display: block;
      position: absolute;
      right: 18px;
      top: 25px;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
      background-color: $veryLightColor;
    }
  }

  .forkme {
    display: none;
  }

  main.content > section > nav {
    float: none;
    & > ul {
      position: relative;
      top: 10px;
    }
  }
}
