$color: #60BF65;

$darkColor: #c23b24;
$lightColor: #e68323;

$veryLightColor: #fbf1e8; /* welcome section and header background */
$veryDarkColor: #e67e22; /* titles and links */

$background: #F0F0F0;
$fontPrimary: #000;
$fontSecondary: #6D6D6D;

$width: 800px;
$maxWidth: 1032px;