
.b-collapsible-header{
  text-align:center;
  font-weight:700; 
  padding:1em;
  display:block;
  text-decoration:none;
  color:#fff;
  -webkit-transition:background-color 0.5s ease-in-out;
  background-color:#e74c3c; 
  border-bottom:1px solid #c0392b;
}

.b-collapsible-header:hover {
  background-color:#c0392b;
}

.b-collapsible-header:before {
  content: "+";
  font-size:1.5em;
  line-height:1em;
  float:left; 
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.5s;
}

.b-selectable-selected .b-collapsible-header{
  background-color:#c0392b;
  border: none;
}

.b-selectable-selected .b-collapsible-header:before {
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  transform:rotate(135deg);
}

.b-collapsible-body {
  background-color:#eee;
  font-size:1em;
  line-height:1.5em;
  padding:1em 2em;
}

b-accordion:after {
  content: "";
  display:block;
  height:0.5em;
  width:100%;
  background-color:#c0392b;
}

/*******  B-TABS *******
 **************************************************************************************************************
 **************************************************************************************************************/

.b-tabs-navigation {
  overflow: hidden;
  border-right: 1px solid #fff;
  height: 35px;
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.b-tabs-navigation li {
  float: left;
  list-style: none;
  background: #e74c3c;
  border-right: 1px solid #fcfcfc;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 35px;
  line-height: 35px;
  padding: 0 30px;
  text-decoration: none;
  -webkit-transition:background-color 0.5s ease-in-out;
}

.b-tabs-navigation li:not(.b-tabs-hidden) {
  background: #c0392b;  
  font-weight: 700;
}

.b-tabs-navigation li.b-tabs-hidden:hover {
  background: #c0392b;
}

.b-tabs-container {
  background: #eee;
  margin: 53px 0 0;
  border-bottom: 8px solid #c0392b;
  padding: 20px;
}

b-tabs .b-tabs-navigation li {
  display: inline;
}

b-tabs .b-tabs-navigation li:hover {
  cursor: pointer;
}

b-tabs .b-tabs-hidden {
  display: none;
}