<% include ../layouts/_header %>

<h1>Documentation</h1>

<% posts.forEach(function(post){ %>
  <% if(post.type === 'static' && post.section === 'documentation') { %>

    <%- post.content %>

  <% } %>
<% }) %>

<% include ../layouts/_footer %>