<% include ../layouts/_header %>

<h1>Documentation</h1>

<ul>
    <% var formatPostUrl = function (urlSegment) {
        return urlSegment
          .toLowerCase() // change everything to lowercase
          .replace(/^\s+|\s+$/g, '') // trim leading and trailing spaces
          .replace(/[_|\s|\.]+/g, '-') // change all spaces, periods and underscores to a hyphen
          .replace(/[^a-z\u0400-\u04FF0-9-]+/g, '') // remove all non-cyrillic, non-numeric characters except the hyphen
          .replace(/[-]+/g, '-') // replace multiple instances of the hyphen with a single instance
          .replace(/^-+|-+$/g, ''); // trim leading and trailing hyphens
      };
    
    posts.filter(function(post) { return post.type === 'static' && post.section === 'documentation'; })
         .sort(function(a, b) { return parseInt(a.order) - parseInt(b.order); })
         .forEach(function(post){ %>

        <li><a href="#<%- formatPostUrl(post.title) %>"><%- post.title %></a></li>

    <% }) %>
</ul>

<% var formatPostUrl = function (urlSegment) {
    return urlSegment
      .toLowerCase() // change everything to lowercase
      .replace(/^\s+|\s+$/g, '') // trim leading and trailing spaces
      .replace(/[_|\s|\.]+/g, '-') // change all spaces, periods and underscores to a hyphen
      .replace(/[^a-z\u0400-\u04FF0-9-]+/g, '') // remove all non-cyrillic, non-numeric characters except the hyphen
      .replace(/[-]+/g, '-') // replace multiple instances of the hyphen with a single instance
      .replace(/^-+|-+$/g, ''); // trim leading and trailing hyphens
  };

posts.filter(function(post) { return post.type === 'static' && post.section === 'documentation'; })
     .sort(function(a, b) { return parseInt(a.order) - parseInt(b.order); })
     .forEach(function(post){ %>

    <%- post.content %>

<% }) %>

<% include ../layouts/_footer %>