<% include ../layouts/_header %>
<div class="block markdown">
<% posts.forEach(function(post){ %>
  <% if(post.type === 'static' && post.title === 'Getting Started') { %>

	<%- post.content %>

  <% } %>
<% }) %>
</div>
<% include ../layouts/_footer %>