<% include ../layouts/_header %>

<div id="homepage-top">
	<div id="illustration">
		<img src="/images/bosonic_illustration.png" alt="">
	</div>

	<div id="welcome">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, placeat, assumenda harum cupiditate vel tenetur reprehenderit culpa autem officia aut consequatur sit corporis mollitia repudiandae asperiores itaque voluptatibus. Facilis, quas!</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, placeat, assumenda harum cupiditate vel tenetur reprehenderit culpa autem officia aut consequatur sit corporis mollitia repudiandae asperiores itaque voluptatibus. Facilis, quas!</p>

		<a href="" class="button right">Download</a>
	</div>

	<div class="clearfix"></div>
</div>

<% include ../layouts/_footer %>
