<% include ../layouts/_header %>

<h2>Getting Started</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusantium nihil necessitatibus ipsa esse nobis dicta similique obcaecati labore. Est, ratione a possimus blanditiis nemo vitae magnam sequi odio. Debitis.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusantium nihil necessitatibus ipsa esse nobis dicta similique obcaecati labore. Est, ratione a possimus blanditiis nemo vitae magnam sequi odio. Debitis.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusantium nihil necessitatibus ipsa esse nobis dicta similique obcaecati labore. Est, ratione a possimus blanditiis nemo vitae magnam sequi odio. Debitis.</p>

<a href="" class="button">Download</a>

<h3>Hello je suis un h3 !</h3>

<% include ../layouts/_footer %>
