<% include ../layouts/_header %>

<div id="homepage-top">
	<div id="illustration">
		<img src="/images/bosonic_illustration.png" alt="">
	</div>

	<div id="welcome">

		<h1>Welcome to Bosonic !</h1>

		<p>Bosonic is a set of tools that enable you to build and use reusable Web Components now !</p>

		<a href="" class="button right">Getting started</a>
	</div>

	<div class="clearfix"></div>
</div>

<div class="block">
	<h2>What are Web Components ?</h2>

	<p>Web Components are based on a set of specs that provide developers with a solid foundation for building UI components as HTML custom elements. By building more advanced HTML elements that the browsers propose, you will be able to build more complex applications without making your code a total mess, dealing simultaneously with high-level application concepts and low-level DOM manipulation.
	</p>
</div>


<div class="block">
	<h2>Why Bosonic ?</h2>

	<p>We loved the <a href="http://www.w3.org/TR/components-intro">Introduction to Web Components</a> spec. What we wanted was a way to build components as this spec describes, shielding ourselves against potential spec changes, and supporting not-so-modern browsers like IE9. And so Bosonic was born !</p>
</div>




<% include ../layouts/_footer %>
