<% include ../layouts/_header %>

<div id="homepage-top">
	<div id="illustration">
		<img src="/images/bosonic_illustration.png" alt="">
	</div>

	<div id="welcome">

		<h1>Welcome to Bosonic !</h1>

		<p>Bosonic is a set of tools that enable you to build and use reusable Web Components now ! By leveraging the power of DOM to build high-level elements, you'll simplify your application code and benefit from 3rd-party elements.</p>

		<a href="/getting-started.html" class="button right">Getting started</a>
	</div>

	<div class="clearfix"></div>
</div>

<div class="block">
	<h2>What are Web Components ?</h2>

	<p>Web Components are based on a set of specs that provide developers with a solid foundation for building UI components as HTML custom elements. By building more advanced HTML elements that the browsers propose, you will be able to build more complex applications without making your code a total mess, dealing simultaneously with high-level application concepts and low-level DOM manipulation.
	</p>
</div>


<div class="block">
	<h2>Why Bosonic ?</h2>

	<p>We loved the <a href="http://www.w3.org/TR/components-intro">Introduction to Web Components</a> spec. What we wanted was a way to build components as this spec describes, shielding ourselves against potential spec changes, and supporting not-so-modern browsers like IE9. And so Bosonic was born !</p>
</div>

<div class="block">
	<h2>How it works</h2>

	<div class="schema">
		<img src="/images/bosonic_howitworks.png" alt="">
	</div>

	<div class="floating-text">
		<p>Bosonic is sort of a transpiler that takes Web Components in HTML files and transforms them into JS and CSS code, runnable on modern browsers.</p>
		<p>Bosonic uses some Polymer polyfills (<a href="https://github.com/polymer/CustomElements">Custom Elements</a>, <a href="https://github.com/polymer/MutationObservers">Mutation Observers</a> and <a href="https://github.com/polymer/WeakMap">Weak Maps</a>) and brings its own polyfills, including a powerful yet simple one for Shadow DOM.</p>
	</div>

	<div class="clearfix"></div>
</div>

<div class="block">
	<h2>Browser Support</h2>

	<p>Please note that we are currently expanding our test farm in order to test Bosonic with more browsers, including mobile ones and older versions of Firefox and Chrome. Bosonic support is most probably better than indicated below.</p>

	<table class="browser-compat">
		<tr>
            <td><img src="images/firefox.png" /></td>
            <td><img src="images/chrome.png" /></td>
            <td><img src="images/ie.png" /></td>
            <td><img src="images/safari.png" /></td>
            <td><img src="images/opera.png" /></td>
        </tr>
		<tr>
			<td>Firefox 25+</td>
			<td>Chrome 30+</td>
			<td>Internet Explorer 9+</td>
			<td>Safari 6+</td>
			<td>Opera 12+</td>
		</tr>
	</table>
</div>


<% include ../layouts/_footer %>
