<% include ../layouts/_header %>

<div class="resources">
    <h2>Some resources from others</h2>
    <ul>
        <li><a href="http://www.w3.org/TR/components-intro/">Introduction to Web Components (w3c)</a></li>
        <li><a href="http://www.polymer-project.org/docs/polymer/polymer.html">Polymer documentation</a></li>
        <li><a href="http://mozilla.github.io/brick/docs.html">Brick Documentation</a></li>
        <li><a href="http://glazkov.com/2011/01/14/what-the-heck-is-shadow-dom/">What the Heck is Shadow DOM</a></li>
        <li><a href="http://www.html5rocks.com/en/tutorials/webcomponents/yeoman/">Building Web Apps With Yeoman And Polymer</a></li>
        <li><a href="http://www.html5rocks.com/en/search?q=web+components">HTML5ROCKS: web components</a></li>
    </ul>
</div>


<% include ../layouts/_footer %>
