<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link href="/styles/main.css" rel="stylesheet">
<link rel="icon" type="image/ico" href="/images/favicon.ico" />
<title>Bosonic - A practical collection of everyday Web Components</title>
<meta name="description" content="Bosonic is a library of atomic HTML UI elements built with the Web Components stack">