<nav>
    <a href="/index.html" id="logo">Bosonic web component</a>
    <img id="hamburger" src="/images/hamburger.png" alt="">
    <ul id="nav">
        <li><a href="/index.html">Home</a></li>
        <li class="nav-separator">|</li>
        <li><a href="/getting-started/getting-the-code.html">Getting Started</a></li>
        <li class="nav-separator">|</li>
        <li><a href="/elements/b-dialog.html">Elements</a></li>
        <li class="nav-separator">|</li>
        <li><a href="/reference/introduction.html">Reference</a></li>
        <li class="nav-separator">|</li>
        <li><a href="/getting-started/contribute.html" class="last">Contribute</a></li>
    </ul>
</nav>
