<% include ../partials/_head %>
<body>
	<header class="home">
		<% include ../partials/_nav %>
	</header>

	<main class="home">

		<section id="welcome">
			<section>
				<img class="logo" src="/images/bosonic_logo_big.png" alt="Bosonic logo">
				<h1>A practical collection of everyday Web Components</h1>

				<a href="/documentation/getting-started/getting-the-code.html" class="button">Getting started</a>
			</section>
		</section>

		<section id="features">

			<section>
				<img class="left" src="/images/bosonic_periodic.png" alt="Fake periodic table of elements">
				<h3>A curated library of reusable Custom elements at an atomic level</h3>
				<p>Carefully crafted with web standards and accessibility in mind, these custom HTML elements cover the web developer everyday needs. Simply put, these are the 'atomic parts' that will make up your application. Think of them as a system of component blueprints that are easily styled and changed to fit the needs of your applications. Bosonic Elements are composable and interoperable with frameworks &amp; libraries built with evergreen browsers in mind.</p>
			</section>

			<section>
				<img class="right" src="/images/bosonic_balloon.png" alt="A high altitude balloon">
				<h3>A lightweight platform</h3>
				<p>Built on top of the <a href="http://webcomponents.org/polyfills/">web components polyfill library</a>, Bosonic provides a very thin layer of syntactic sugar that eases the burden of working with Web Components primitives.</p>
			</section>

			<section>
				<img class="left" src="/images/bosonic_spaceship.png" alt="An Enterprise-class spaceship entering a wormhole">
				<h3>A future-proof solution</h3>
				<p>With Web Component standards being implemented progressively in modern browsers, our elements' already good performance will get even better.</p>
			</section>

		</section>

		<section id="browsers">
			<section>
				<h2>Browser Support</h2>

				<p>Please note that we have plans (and code, just not released yet) to vastly improve browser support, At some point, we are planning to support Internet Explorer 9 (IE9).</p>

				<div id="browsers-list">
					<div class="browser-compat">
						<div class="browser-logo browser-logo--firefox"></div>
						<p>Firefox 35+</p>
					</div>

					<div class="browser-compat">
						<div class="browser-logo browser-logo--chrome"></div>
						<p>Chrome 35+</p>
					</div>

					<div class="browser-compat">
						<div class="browser-logo browser-logo--ie"></div>
						<p>IE 10+</p>
					</div>

					<div class="browser-compat">
						<div class="browser-logo browser-logo--safari"></div>
						<p>Safari 7+</p>
					</div>

					<div class="browser-compat">
						<div class="browser-logo browser-logo--opera"></div>
						<p>Opera 12+</p>
					</div>
				</div>

			</section>
		</section>

	</main>

	<% include ../partials/_footer %>

	<script type="text/javascript">
		window.addEventListener('scroll', function() {
			var top = document.documentElement.scrollTop || document.body.scrollTop,
				header = document.querySelector('header');
			if (top > 30) {
				header.classList.add('scrolled');
				if (top > 130) {
					header.classList.add('logo');
				} else {
					header.classList.remove('logo');
				}
			} else {
				header.classList.remove('scrolled');
			}
		});
	</script>
</body>
</html>
