<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= data.baseUrl %>images/cabin.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">

    <title>My Blog</title>
    <meta name="description" content="<%= locals.description %>">
  </head>
  <body>
    
    <div id="header">

      <div id="logo"></div>

      <ul id="nav">
        <li><a href="">Home</a></li>
        <li>|</li>
        <li><a href="">Getting Started</a></li>
        <li>|</li>
        <li><a href="">Demos</a></li>
        <li>|</li>
        <li><a href="">Documentation</a></li>
        <li>|</li>
        <li><a href="" class="last">Contribute</a></li>
      </ul>
    </div>

    <div id="content">
