<div id="header">

    <a href="index.html" id="logo">Bosonic web component</a>


  <ul id="nav">
    <li><a href="index.html">Home</a></li>
    <li class="nav-separator">|</li>
    <li><a href="getting-started.html">Getting Started</a></li>
    <li class="nav-separator">|</li>
    <li><a href="demos.html">Demos</a></li>
    <li class="nav-separator">|</li>
    <li><a href="documentation.html">Documentation</a></li>
    <li class="nav-separator">|</li>
    <li><a href="components.html">Elements</a></li>
    <li class="nav-separator">|</li>
    <li><a href="contribute.html" class="last">Contribute</a></li>
  </ul>
</div>