<div class="post-head group">
  <a href="<%= data.baseUrl %><%= post.url %>">
    <h1 class="post-title"><%= post.title %></h1>
  </a>
  <h2 class="post-date">Published&nbsp
    <abbr title="<%= post.date.toISOString() %>" class="timeago"></abbr>
  </h2>
</div>
