<!DOCTYPE html>
<html>
<head>
<% include ../partials/_head %>
<script type="text/javascript" src="/bosonic/webcomponents.js"></script>
<script type="text/javascript" src="/bosonic/bosonic-runtime.js"></script>

<link rel="import" href="/bosonic/default/<%- element.tag %>.html">

<link rel="stylesheet" href="/bosonic/default/theme.css">
</head>
<body>
    <header class="page-header scrolled logo">
      <% include ../partials/_nav %>
    </header>

    <main class="content">

        <section class="content">
            <nav>
                <%- nav %>
            </nav>
            <section>
                <h1><%- element.title %></h1>
                <%- element.content %>
            </section>
        </section>

    </main>

    <% include ../partials/_footer %>
</body>
</html>