<!DOCTYPE html>
<html>
<head>
<% include ../partials/_head %>
</head>
<body>
    <header class="home scrolled logo">
      <% include ../partials/_nav %>
    </header>

    <main class="content">

        <section class="content">
            <nav>
                <%- nav %>
            </nav>
            <section>
                <%- page.content %>
            </section>
        </section>

    </main>

    <% include ../partials/_footer %>
</body>
</html>
