<% include ../partials/_head %>
<body>
    <header class="home scrolled logo">
      <% include ../partials/_nav %>
    </header>

    <main class="content">

        <section>
            <section class="full-content">
                <%- post.content %>
            </section>
        </section>

    </main>

    <% include ../partials/_footer %>

</body>
</html>
