<% include ../partials/_head %>
<body>
    <header class="home scrolled logo">
      <% include ../partials/_nav %>
    </header>

    <main class="">

        <section class="content">
            <section>
                <ul>
                    <% posts.forEach(function(post) { %>
                        <li><a href="/<%- post.url %>.html"><%- post.title %></a></li>
                    <% }); %>
                </ul>
            </section>
            <section>
                <%- post.content %>
            </section>
        </section>

    </main>

    <% include ../partials/_footer %>

</body>
</html>
