<!DOCTYPE html>
<html>
<head>
<% include ../partials/_head %>
<% if (page.import) { %>
<script type="text/javascript" src="/bosonic/webcomponents.js"></script>
<script type="text/javascript" src="/bosonic/bosonic-runtime.js"></script>
<% page.import.forEach(function(i) { %>
<link rel="import" href="/bosonic/default/<%- i %>.html">
<% }); %>
<link rel="stylesheet" href="/bosonic/default/theme.css">
<style>
    body:not(.resolved) section.content > section {
        opacity: 0;
        display: block;
        overflow: hidden;
        position: relative;
    }
</style>
<script type="text/javascript">
    window.addEventListener('WebComponentsReady', function() {
        document.body.classList.add('resolved');
    })
</script>
<% } %>
</head>
<body>
    <header class="page-header scrolled logo">
      <% include ../partials/_nav %>
    </header>

    <main class="content">

        <section class="content">
            <nav>
                <%- nav %>
            </nav>
            <section>
                <%- page.content %>
            </section>
        </section>

    </main>

    <% include ../partials/_footer %>
</body>
</html>
